{% extends "base.html" %}

{% block title %}Try On!{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="clothing-container">
    <div class="clothing-row row-1">
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (1).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (2).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (3).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (4).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (5).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (1).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (2).jpg') }}">
        </div>
    </div>

    <div class="clothing-row row-2">
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (6).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (7).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (8).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (9).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (10).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (6).jpg') }}">
        </div>
    </div>

    <div class="clothing-row row-3">
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (11).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (12).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (13).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (14).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (15).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (11).jpg') }}">
        </div>
    </div>

    <div class="clothing-row row-4">
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (16).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (17).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (18).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (19).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (20).jpg') }}">
        </div>
        <div class="clothing-item">
            <img src="{{ url_for('static', filename='images/Clothes (16).jpg') }}">
        </div>
    </div>
</div>

<div class="title-container">
    <h1 class="handwritten-text">Style On You</h1>
</div>

<div class="touch-guide">화면을 터치해주세요</div>
{% endblock %}

{% block body_extra %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
